.select {
}

ul {
  list-style-type: none;
  padding: 0;
}
.select {
  display: grid;
  max-width: 320px;
}
.input-field__content-wrapper_select {
  display: flex;
  max-width: 320px;
  max-height: 44px;
  justify-content: space-between;
  border: solid red 3px;
  align-items: center;
}
.dropdown__list {
  display: none;
  border: black solid 3px;
  max-width: 320px;
}
.dropdown__list_active {
  display: block;
}
