@use "../../components/select/select";
@use "../../components/input-field/input-field";
@use "../../index";
@use "../../components/counter/counter";
@use "../../components/checkbox/checkbox";
@use "../../components/datepicker/datepicker";
@use "../../components/range-slider/range-slider";
@use "../../components/filter-date-select/filter-date-select";
@use "../../components/subscription-text-field/subscription-text-field";
@use "../../components/radio-button/radio-button";
@use "../../components/toggle/toggle";
@use "../../components/like-button/like-button";
@use "../../components/rate-button/rate-button";
@use "../../components/button/button";
@use "../../components/pagination/pagination";
@use "../../components/bullet-list/bullet-list";
@use "../../components/expandable-checkbox-list/expandable-checkbox-list";
@use "../../components/description/description.scss";
@use "../../components/user-review/user-review.scss";
@use "../../components/rich-checkbox/rich-checkbox";
@use "../../components/label/label";
@use "../../components/label-state/label-state";

.input-field {
  &__label-wrapper {
    display: flex;
    max-width: 320px;
    justify-content: space-between;
    margin-bottom: 5px;
  }
}
.ui-kit-form-elements {
  &__text-fields {
    display: grid;
    max-width: 320px;
    grid-row-gap: 20px;
  }
  &__date-text-fields {
    margin-top: 40px;
    display: grid;
    max-width: 320px;
    grid-row-gap: 40px;
  }
  &__checkbox-wrapper {
    display: grid;
    max-width: 222px;
    grid-row-gap: 10px;
  }
  &__radio-btn-wrapper {
    display: grid;
    max-width: 220px;
    grid-row-gap: 10px;
    grid-template-columns: 1fr 1fr;
  }
  &__radio-btn-label-wrapper {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  &__toggle-wrapper {
    display: grid;
    max-width: 260px;
    grid-row-gap: 10px;
  }
  &__like-btn-wrapper {
    display: grid;
    max-width: 90px;
    grid-row-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
  }
  &__like-btn-label-wrapper {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
