extends ../../components/layout.pug
block title
    title= "Form elements"
block links
    link(href=require('../../index.scss') rel='stylesheet')
    link(href=require('form-elements.scss') rel='stylesheet')
block header
    include ../../components/ui-kit-header/ui-kit-header
block content
    include ../../components/input-field/input-field
    include ../../components/text-field/text-field
    include ../../components/select/select
    include ../../components/checkbox/checkbox
    include ../../components/masked-text-field/masked-text-field
    include ../../components/datepicker/datepicker
    include ../../components/range-slider/range-slider
    include ../../components/filter-date-select/filter-date-select
    include ../../components/subscription-text-field/subscription-text-field
    include ../../components/radio-button/radio-button
    include ../../components/toggle/toggle
    include ../../components/like-button/like-button
    include ../../components/rate-button/rate-button
    include ../../components/button/button
    include ../../components/pagination/pagination
    include ../../components/bullet-list/bullet-list
    include ../../components/expandable-checkbox-list/expandable-checkbox-list
    +textField('text-field','Email',null , 'TEXT FIELD','default','DEFAULT')
    +textField('text-field','Email','This is pretty awesome', 'TEXT FIELD','hover','HOVER/FOCUSED')
    +select('select','text','Сколько гостей',null ,'DROPDOWN', null, null, 'Взрослые','Дети','Младенцы','0','0')
    +select('select','text','Сколько гостей',null ,'DROPDOWN', null, null, 'Взрослые','Дети','Младенцы','1','1')
    +masked-text-field('masked-text-field','ДД.ММ.ГГГГ','', 'MASKED TEXT FIELD','masked', '')
    +datepicker('name', 'text', 'ДД.ММ.ГГГГ', '', 'DATE DROPDOWN', 'datepicker')
    +filter-date-select('date-select','ДД.ММ.ГГГГ','' , 'FILTER DATE DROPDOWN','masked')
    +subText('sub-text', 'Email', '', "SUBSCRIPTION TEXT FIELD")
    +radioBtn('radio-button','Мужчины')
    +inputCheck ('checkbox', 'span')
    +toggle('toggle', 'span')
    +likeBtn('like-btn', 'span')
    +rateBtn('rate-btn', 'span')
    +btn('filled', 'CLICK ME')
    +btn('unfilled', 'CLICK ME')
    +btn('long', 'ПЕРЕЙТИ К ОПЛАТЕ')
    +btn('frameless', 'CLICK ME')
    +pagination('pagination', 'PAGINATION')
    +select('select-small','text','2 спальни, 2 кровати...',null ,'DROPDOWN', null, null, 'Взрослые','Дети','Младенцы','1','1',1)
    +bulletList('bullet-list', 'bullet-list', 'Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00')
    +checkboxList('checkbox-list','checkbox-list','Завтрак','Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь')
block scripts
    script(src=require('index'))

