doctype html
html(lang = 'ru')
    head
        meta(charset="utf-8")
        title= "Colors and Types"
        link(href=require('/src/styles/style.scss') rel='stylesheet')
    body
        img(src='/src/assets/icons/Toxin-icon.svg' alt='Toxin-icon here')
        h1 My Site
        p Welcome
