.counter-wrapper
    .counter__btn.counter_minus-btn(data-counter-minus-btn = 'true').counter_inactive
    input(class='counter__value' readonly value = "0")
    .counter__btn.counter_plus-btn(data-counter-plus-btn = 'true')