@import "../../index";
.counter {
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 92px;
    padding: 0;
  }

  &__value {
    border: none;
    width: 25px;
    height: fit-content;
    padding: 0;
    display: block;
    text-align: center;
  }

  &__btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: $border1;
    color: $colorDark50;
    position: relative;
  }

  &_minus-btn {
    margin-right: 5px;
    &:after {
      content: "";
      position: absolute;
      width: 8px;
      height: 2px;
      background-color: $colorDark50;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &_plus-btn {
    margin-left: 5px;
    &:before {
      content: "";
      position: absolute;
      width: 8px;
      height: 2px;
      background-color: $colorDark50;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      display: block;
    }

    &:after {
      display: block;
      content: "";
      position: absolute;
      width: 2px;
      height: 8px;
      background-color: $colorDark50;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &_inactive {
    color: $colorDark25;
    &:after {
      background-color: $colorDark25;
    }
  }
}
