mixin range-slider(label)
    .range-slider__wrapper
        label(class="range-slider__label")=label
        span(class="range-slider__values" data-range-slider-values=true)
        div(class="range-slider" data-range-slider=true)
