mixin range-slider(label)
    .range-slider__wrapper
        label(class="range-slider__label label__text")=label
        span(class="range-slider__values label__text-state" data-range-slider-values=true)
        div(class="range-slider" data-range-slider=true)
