mixin richCheckbox(name, label,descriptLab,text)
    .rich-checkbox__wrapper
        +inputCheck ('checkbox', '',true)
        div(class=`${name}__text-wrapper`)
            div(class=`${name}__text-label`)=descriptLab
                div(class=`${name}__text`)=text
