mixin select (name,type,placeholder,value,label, state, stateDescript, li1,li2,li3)
    .select
        +inputField(name, type, placeholder, value, label, state, stateDescript)
        ul(class='select__list')
            li.select__li
                span(class = `select__span`)= li1
                include ../counter/counter
            li.select__li= li2
            li.select__li= li3