mixin select (name,type,placeholder,value,label, state, stateDescript, li1,li2,li3)
    .select
        +inputField(name, type, placeholder, value, label, state, stateDescript)
        ul(class='select__list')
            li.select__li= li1
                include ../counter/counter
            li.select__li= li2
                include ../counter/counter
            li.select__li= li3
                include ../counter/counter