.input-field {
  &__sub-text-wrapper {
    max-width: 266px;
    position: relative;
    &::before {
      position: absolute;
      content: url("/public/icons/material-icons/arrow_forward1.svg");
      justify-self: end;
      top: 43%;
      padding-right: 11px;
    }
  }
  &__label-sub-text {
    grid-column: 1/3;
  }
}
input[name="sub-text"] {
  max-width: 266px;
}
