.input-field {
  &__label-date-select {
    grid-column: 1/3;
  }
  &__date-select {
    max-width: 266px;
    position: relative;
    &::before {
      position: absolute;
      content: url("/public/icons/material-icons/expand_more.svg");
      width: 24px;
      height: 24px;
      justify-self: end;
      top: 40%;
      padding-right: 10px;
    }
  }
}
