mixin datepicker(name, type, placeholder, value, label, elem)
    div(class = 'input-field__datepicker-wrapper' date-datepicker = true)
        div(class='input-field__input-wrapper')
            input(name=name, type = type, placeholder = placeholder, value = value, class = `input-field__input`, class = `input-field__${elem}`, class = `input-field__start-date`)
        div(class='input-field__input-wrapper')
            input(name=name, type = type, placeholder = placeholder, value = value, class = `input-field__input`, class = `input-field__${elem}`, class = `input-field__end-date`)
