@use "./node_modules/daterangepicker/daterangepicker.css";
@import "../../index";

.input-field {
  &__datepicker-wrapper {
    display: grid;
    max-width: 320px;
    grid-template-columns: 1fr 1fr;
    position: relative;
    grid-column-gap: 20px;
    &::before {
      position: absolute;
      content: url("/public/icons/material-icons/expand_more.svg");
      width: 24px;
      height: 24px;
      justify-self: end;
      align-self: center;
      padding-right: 12px;
      top: 43%;
    }
    &::after {
      position: absolute;
      content: url("/public/icons/material-icons/expand_more.svg");
      width: 24px;
      height: 24px;
      justify-self: start;
      align-self: center;
      top: 43%;
      padding-left: 115px;
    }
  }
  &__datepicker {
    width: 150px;
    height: 44px;
  }
  &__start-date {
    border-color: $colorDark25;
  }

  &__end-date {
    border-color: $colorDark25;
  }
}
.daterangepicker .drp-calendar.right {
  position: absolute !important;
  right: 0 !important;
  top: 0 !important;
  padding: 0px;
}

.daterangepicker .drp-calendar.right tbody {
  display: none !important;
}

.daterangepicker .drp-calendar.right thead > tr:nth-child(2) {
  display: none !important;
}

.daterangepicker .drp-calendar.right th.month {
  display: none !important;
}

.daterangepicker .drp-calendar.right .calendar-table {
  background: transparent !important;
}

.daterangepicker .daterangepicker.ltr .ranges,
.daterangepicker.ltr .drp-calendar {
  float: none !important;
}
.calendar-table {
  padding: 0px !important;
}
.drp-selected {
  display: none !important;
}
.daterangepicker .drp-buttons {
  display: flex !important;
  justify-content: space-between;
  border: none;
  padding: 0px !important;
  margin: 20px;
}

.btn {
  border: none;
  color: $colorPurple;
  padding: 0px;
}
[data-title] {
  font-family: $fontFamily !important;
}
td {
  width: 40px !important;
  height: 40px !important;
}
th {
  width: 40px !important;
  height: 40px !important;
  color: $colorPurple;
  font-weight: bold;
}
.month {
  padding: 0px !important;
  box-sizing: content-box !important;
  font-size: 19px !important;
  width: 200px !important;
  height: 40px !important;
  color: $colorDark100;
}
.drp-calendar.right {
  //width: 70px;
}
.daterangepicker .drp-calendar.left {
  padding: 0px;
}
.calendar-table {
}
.drp-calendar.right th:nth-child(-n + 1) {
  display: none !important;
}
.prev.available span:nth-child(-n + 1) {
  display: none !important;
}
.next.available span:nth-child(-n + 1) {
  display: none !important;
}
thead tr:nth-child(-n + 1) {
  display: block;
  align-content: center;
  justify-content: center;
  margin-bottom: 30px;
  align-items: center;
  margin-top: 20px;
}
thead th:nth-child(-n + 1) {
  height: 24px !important;
}
thead {
  display: block;
  position: relative;
  margin: 20px 20px 0 20px;
}

tbody {
  margin: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
}

.prev.available:after {
  content: url("/public/icons/material-icons/arrow_back1.svg");
  position: absolute;
  transform: translate(-50%, -45%);
}
.prev.available:before {
  content: url("/public/icons/material-icons/arrow_forward1.svg");
  position: absolute;
  transform: translate(940%, -45%);
  z-index: 100;
}
.daterangepicker .drp-calendar {
  display: none;
  max-width: 320px;
}
thead tr:nth-child(-n + 1) {
  height: 24px;
}
.daterangepicker .drp-buttons .btn {
  margin-left: 0px;
  font-size: 12px;
  font-weight: bold;
  padding: 0px;
}

.daterangepicker td.active {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 50%;
  z-index: 100;
  position: relative;
}
//td.active:before {
//  content: "";
//  position: absolute;
//  width: 40px;
//  height: 40px;
//  background-color: #e8e7fe;
//  top: 50%;
//  right: 50%;
//  transform: translate(50%, -50%);
//  z-index: -1;
//  opacity: 50%;
//}
.daterangepicker td:hover {
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  border-color: transparent;
  color: #ffffff !important;
  border-radius: 50%;
  z-index: 100;
}

.daterangepicker td.in-range {
  background-color: #e8e7fe;
}
.daterangepicker .active.start-date:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  //background-color: #e8e7fe;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: -1;
  opacity: 100%;

  background: linear-gradient(to right, transparent 50%, #e8e7fe 50%);
}
.daterangepicker .active.start-date:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  border-radius: 50%;
  z-index: -1;
}
.daterangepicker .active.end-date:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  //background-color: #e8e7fe;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: -1;
  opacity: 100%;
  background: linear-gradient(to left, #ffffffff, #e8e7fe 50%);
}
.daterangepicker .active.end-date:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  border-radius: 50%;
  z-index: -1;
}
.daterangepicker.opensright:after {
  display: none;
}
.daterangepicker.opensright:before {
  display: none;
}
