@use 'colors/color-box';
@use 'types/text-type';
.color-box_dark100 {
@include color-box.colorBox(#1F2041);
};
.color-box_dark75 {
  @include color-box.colorBox(rgba(31, 32, 65, 0.75));
};
.color-box_dark50 {
  @include color-box.colorBox(rgba(31, 32, 65, 0.5));
};
.color-box_dark25 {
  @include color-box.colorBox(rgba(31, 32, 65, 0.25));
};
.color-box_dark5 {
  @include color-box.colorBox(rgba(31, 32, 65, 0.05));
};
.color-box_purple {
  @include color-box.colorBox(#BC9CFF);
};
.color-box_green {
  @include color-box.colorBox(#6FCF97);
};
h2 {
  @include color-box.colorName
};
span {
  @include color-box.colorCode
};
.text-type__h1 {
  @include text-type.textType(24px, 30px)
};
.text-type__h2 {
  @include text-type.textType(19px, 24px)
};
.text-type__h3 {
  @include text-type.textType(12px, 16px)
};
.text-type__span{
  @include text-type.textType(14px, 24px)
};
.type-description__h1{
  @include text-type.typeDescription(24px, 30px, #1F2041)
};
.type-description__h2{
  @include text-type.typeDescription(19px, 24px, #1F2041)
};
.type-description__h3{
  @include text-type.typeDescription(12px, 16px, #1F2041)
};
.type-description__span{
  @include text-type.typeDescription(14px, 24px, rgba(31, 32, 65, 0.75))
};
.container{

};
.color-box-wrapper{


};
.text-type-wrapper{
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  align-items: flex-start;
};
