@import "../../index";
.user-review {
  &__wrapper {
    display: flex;
    max-width: 710px;
    max-height: fit-content;
  }
  &__user-information {
    display: flex;
    flex-direction: column;
  }
  &__avatar {
    width: 48px;
    height: 48px;
  }
  &__user-name {
    @extend %fontNormBold;
    color: $colorDark75;
  }
  &__login-date {
    @extend %fontNormal;
    color: $colorDark75;
  }
  &__data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
  }
  &__text {
    @extend %fontNormal;
    color: $colorDark75;
    line-height: 24px;
  }
}
