mixin userRev (image, name, date, text)
    .user-review__wrapper
        .user-review__user-information
            img(class='user-review__avatar' src=require(image) alt='avatar')
            .user-review__user-text-information
                div(class='user-review__user-name')=name
                div(class='user-review__login-date')=date
        .user-review__data
            +likeBtn('like-btn', '')
            .user-review__text=text 
