@import "../../index";

@mixin checkInp($name, $width, $height, $borderRad) {
  #{$name} {
    &__label {
      margin-left: 40px;
      margin-top: 40px;
      display: flex;
    }

    &__description {
      padding-left: 10px;
    }

    &__ui-input {
      position: relative;
      width: $width;
      height: $height;
      border: $border1 $colorDark25;
      border-radius: $borderRad;
    }

    @if ($name == ".checkbox") {
      &__input {
        -webkit-appearance: none;

        &:checked + #{$name}__ui-input {
          border: 1px solid $colorPurple;
        }

        &:checked + #{$name}__ui-input::before {
          content: "";
          width: 8px;
          height: 2px;
          background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
          position: absolute;
          top: 60%;
          left: 50%;
          transform-origin: 0 100%;
          transform: rotate(315deg);
        }

        &:checked + #{$name}__ui-input::after {
          content: "";
          width: 5px;
          height: 2px;
          background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
          position: absolute;
          top: 50%;
          left: 55%;
          transform-origin: 0 100%;
          transform: rotate(220deg);
        }
      }
    }
    @if ($name == ".radio-button") {
      &__input {
        -webkit-appearance: none;

        &:checked + .radio-button__ui-input {
          border: 1px solid $colorPurple;
        }

        &:checked + .radio-button__ui-input::before {
          content: "";
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    //@if ($name == ".rate-btn") {
    //  &__input {
    //    border: $colorWhite;
    //  }
    //}
    @if ($name == ".toggle") {
      &__ui-input::after {
        content: "";
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: $colorDark25;
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translate(-50%, -50%);
      }
      &__input {
        -webkit-appearance: none;

        &:checked + .toggle__ui-input {
          border: 1px solid $colorPurple;
        }

        &:checked + .toggle__ui-input::before {
          content: "";
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
          position: absolute;
          top: 50%;
          left: 80%;
          transform: translate(-50%, -50%);
        }

        &:checked + .toggle__ui-input::after {
          content: "";
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: $colorWhite;
          position: absolute;
          top: 50%;
          left: 20%;
          transform: translate(-50%, -50%);
        }
      }
    }
    @if ($name == ".like-btn") {
      &__ui-input {
        display: flex;
        justify-content: end;
      }
      &__value {
        border: none;
        width: 10px;
        margin-right: 10px;
        padding: 0;
        text-align: center;
        @extend %fontBtn;
        color: $colorDark25;
      }
      &__ui-input::after {
        content: url("/public/icons/material-icons/favorite.svg");
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
      }
      &__input {
        -webkit-appearance: none;
        &:checked + .like-btn__ui-input .like-btn__value {
          color: #bc9cff;
        }
        &:checked + .like-btn__ui-input {
          border: 1px solid $colorPurple;
        }
        &:checked + .like-btn__ui-input::after {
          content: url("/public/icons/material-icons/favorite-purp.svg");
          top: 50%;
          position: absolute;
          left: 25%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}
@include checkInp(".checkbox", 20px, 20px, 4px);
