mixin checkbox (span)
    label(class ='checkbox__label')
        input(type = 'checkbox' class ='checkbox__input' name = 'checkbox')
        span(class = 'checkbox__ui-input')
        span(class = 'checkbox__description')=span
