@use '../../components/color-box/color-box';
@use '../../components/text-type/text-type';
@use '../../components/ui-kit-header/ui-kit-header';

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 50px;
}

.color-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.color-box-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 24px;
}

.text-type-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 24px;
}

.ui-kit-header {
  display: flex;
  height: 145px;
  padding: 30px;
}

@media screen and (max-device-width: 228px){
  .color-block {
    display: flex;
    flex-direction: column;
  }

  .text-type__tag {
    width: 50px;
    text-align: start;
  }

  .text-type-wrapper {
    padding-top: 50px;
  }
}




