extends /src/components/layout.pug
block title
    title= "Colors and Types"
block links
    link(href=require('../../index.scss') rel='stylesheet')
    link(href=require('./color-block.scss') rel='stylesheet')
block header
    .ui-kit-header
        include /src/components/ui-kit-header/ui-kit-header
block content
    include /src/components/color-box/color-box
    include /src/components/text-type/text-type
    .container
        .color-block
            .color-box-wrapper
                +colorBox('dark100', 'Dark Shade 100% ', '#1F2041')
                +colorBox('color-box_dark50', 'Dark Shade 50% ', '#1F2041')
                +colorBox('color-box_dark25', 'Dark Shade 25% ', '#1F2041')
                +colorBox('color-box_dark5', 'Dark Shade 5% ', '#1F2041')
                +colorBox('color-box_purple', 'Purple', '#BC9CFF')
                +colorBox('color-box_green', 'Green', '#6FCF97')
            .text-type-wrapper
                +textType('h1', 'H1', 'This one is the sub-section or widget title')
                +textType('h2', 'H2', 'Next one is the item title inside widgets')
                +textType('h3', 'H3', 'This is a label or CTA text')
                +textType('span','Body','This is the body text which is used for most of the design, like paragraphs, lists, etc.')







