@import "/public/fonts/Montserrat/Montserrat.css";
@import "/public/fonts/Material_icons/Material_icons.css";
$fontFamily: "Montserrat";

html,
body {
  margin: 0;
  font-family: $fontFamily;
}

* {
  box-sizing: border-box;
  margin: 0;
  margin-block: 0;
}

.material-icons {
  font-family: "Material icons";
}
