$fontFamily: "Montserrat";
$colorDark100: #1f2041;
$colorDark75: #575870;
$colorDark50: #8f8fa0;
$colorDark25: #c7c7cf;
$colorDark5: #f4f4f6;
$colorPurple: #bc9cff;
$colorGreen: #6fcf97;
$colorWhite: #ffffff;
$border1: solid 1px;
%fontH1 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

%fontH2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}
%fontH2Imp {
  font-weight: bold !important;
  font-size: 20px !important;
  line-height: 24px !important;
}

%fontH3 {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
}

%fontNormal {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}
%fontNormalImp {
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 18px !important;
}
ul {
  padding-inline-start: 0;
}
