doctype html
html(lang = 'ru')
    head
        meta(charset="utf-8")
        title= "Colors and Types"
        link(href=require('/src/styles/style.scss') rel='stylesheet')
        link(href=require('/src/styles/colorsType.scss') rel='stylesheet')

    body
        .container
            img(src='/src/assets/icons/Toxin-icon.svg' alt='Toxin-icon here')
            include /src/components/UI kit/colors and types/colors/colorBox.pug
            include /src/components/UI kit/colors and types/colors/colorName.pug
            +colorBox('color-box_dark100')
            +colorBox('color-box_dark75')
            +colorBox('color-box_dark50')
            +colorBox('color-box_dark25')
            +colorBox('color-box_dark5')
            +colorBox('color-box_purple')
            +colorBox('color-box_green')
            +colorName('Dark Shade 100% ', '#1F2041')
            +colorName('Dark Shade 75% ', '#1F2041')
            +colorName('Dark Shade 50% ', '#1F2041')
            +colorName('Dark Shade 25% ', '#1F2041')
            +colorName('Dark Shade 5% ', '#1F2041')
            +colorName('Purple', '#BC9CFF')
            +colorName('Green', '#6FCF97')





